^build
^modules
^tmp
^precompiled
^test-result
^logs
^eclipse
^data
.*\.log$
\.classpath$
\.project$
.*\.pyc$
.*\.orig$
.*\.swp$
.~lock
server.pid
\.settings
/tmp
/modules
/lib
/test-result
/logs

.classpath
.project
eclipse/

